<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DokoDesuKa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>57599E4F1CDCD96B006E1588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57599E661CDCD96B006E1588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57599E711CDCD96B006E1588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
